.button-white {
  background-color: #f4f1f1;
  border: none;
  color: black;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
  height: 45px;
  border-radius: 5px;
}

.button-green {
  background-color: #26afab;
  border: none;
  color: black;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
  height: 45px;
  border-radius: 5px;
}

.button-red {
  background-color: #fd4343;
  border: none;
  color: black;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
  height: 45px;
  border-radius: 5px;
}

.button-blue {
  background-color: #20419a; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  float: right;
  font-size: 15px;
  margin: 15px 15px;
}

.button-green-center {
  background-color: #26afab;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
  height: 45px;
  border-radius: 5px;
}

.button-blue-small {
  background-color: #20419a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
  height: 45px;
  border-radius: 5px;
}

.button-white-big {
  background-color: #f4f1f1;
  border: none;
  color: black;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  border-radius: 5px;
}

.button-green-big {
  background-color: #26afab;
  border: none;
  color: black;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  border-radius: 5px;
}

