#FAQListCC {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1%;
  text-align: center;
  position: relative;
}

#FAQListCC table {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  table-layout: auto;
}

#FAQListCC thead {
  vertical-align: middle;
  background-color: #38b09d;
  font-size: 24px;
  color: white;
}

#FAQListCC .tdashboard {
  background-color: #f3f3f3;
  color: black;
}

#FAQListCC .title {
  display: inline;
  float: left;
  font-size: 48px;
  padding: 20px;
}

#FAQListCC tbody tr td {
  font-size: 18px;
  vertical-align: middle;
  overflow: hidden;
}

#FAQListCC tfoot {
  background-color: #38b09d;
  height: 68px;
}

#FAQListCC .pageBar {
  float: right;
}

#FAQListCC .desc {
  display: inline;
  float: right;
  text-align: right;
  font-size: 18px;
  padding: 20px;
}

#FAQListCC .dropdown {
  display: inline-block !important;
  cursor: pointer !important;
}

#FAQListCC .dropdown p {
  margin-top: 15px;
}

#FAQListCC .dropdown-menu {
  float: right;
  font-weight: normal;
  background-color: #f9f9f9 !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
  z-index: 1 !important;
  min-width: 200px !important;
}

#FAQListCC .form-check {
  padding-left: 30px;
}

#FAQListCC .form-check:hover {
  background-color: #e0e0e0;
}

#FAQListCC .form-control:focus,
#FAQListCC .form-check-input:focus {
  box-shadow: inset 0 -1px #ddd;
  border-color: #c2c2c2;
}

#FAQListCC input:focus::placeholder {
  color: transparent;
}
